@if(singleTimeline){
    <div class="w-auto h-auto px-4">
        <div class="flex items-center">
            <div class="rounded-full shadow-lg border-[.4rem] border-green-500">
                <img src="/assets/images/doc1.png" class="w-12 h-12 rounded-full border-[.3rem] border-white" alt="">
            </div>
            <div class="mx-4 px-2 py-4">
                <h3 class="font-bold text-lg">How To Create A New Blog Post</h3>
                <p class="text-gray-500">By Sheron | Blogs, WordPress | 0 Comments</p>
                <p class="mt-2 text-gray-700">In today's tutorial, I will show you how to create a New Blog Post...</p>
                <!-- <button class="mt-4 bg-green-500 text-white px-4 py-2 rounded">Read More</button> -->
            </div>
        </div>
    </div>
} @else {
    <div class="hidden md:flex">
        <div class="w-full space-y-1 relative">
            <div class="flex">
                <div class="w-6/12 text-right border-r-[1.3rem] border-green-500 pl-8 relative h-auto">
                    <div class="flex items-center relative -right-[6rem]">
                        <div class="mx-4 px-2 py-4 border-b">
                            <h3 class="font-bold text-lg">How To Create A New Blog Post</h3>
                            <p class="text-gray-500">By Sheron | Blogs, WordPress | 0 Comments</p>
                            <p class="mt-2 text-gray-700">In today's tutorial, I will show you how to create a New Blog Post...</p>
                            <!-- <button class="mt-4 bg-green-500 text-white px-4 py-2 rounded">Read More</button> -->
                        </div>
                        <div class="rounded-full shadow-lg border-[.4rem] border-green-500">
                            <img src="/assets/images/doc1.png" class="w-12 h-12 rounded-full border-[.3rem] border-white" alt="">
                        </div>
                    </div>
                </div>
                <div class="w-6/12 pl-4"></div>
            </div>
    
            <div class="flex">
                <div class="w-6/12 h-auto"></div>
                <div class="w-6/12 text-left border-l-[1.3rem] border-green-500 pl-8 relative -left-5 h-auto">
                    <div class="flex items-center relative -left-[4.6rem]">
                        <div class="rounded-full shadow-lg border-[.4rem] border-green-500">
                            <img src="/assets/images/doc1.png" class="w-12 h-12 rounded-full border-[.3rem] border-white" alt="">
                        </div>
                        <div class="mx-4 px-2 py-4 border-b">
                            <h3 class="font-bold text-lg">How To Create A New Blog Post</h3>
                            <p class="text-gray-500">By Sheron | Blogs, WordPress | 0 Comments</p>
                            <p class="mt-2 text-gray-700">In today's tutorial, I will show you how to create a New Blog Post...</p>
                            <!-- <button class="mt-4 bg-green-500 text-white px-4 py-2 rounded">Read More</button> -->
                        </div>
                    </div>
                </div>
            </div>
    
    
            <div class="flex">
                <div class="w-6/12 text-right border-r-[1.3rem] border-green-500 pl-8 relative h-auto">
                    <div class="flex items-center relative -right-[6rem]">
                        <div class="mx-4 px-2 py-4 border-b">
                            <h3 class="font-bold text-lg">How To Create A New Blog Post</h3>
                            <p class="text-gray-500">By Sheron | Blogs, WordPress | 0 Comments</p>
                            <p class="mt-2 text-gray-700">In today's tutorial, I will show you how to create a New Blog Post...</p>
                            <!-- <button class="mt-4 bg-green-500 text-white px-4 py-2 rounded">Read More</button> -->
                        </div>
                        <div class="rounded-full shadow-lg border-[.4rem] border-green-500">
                            <img src="/assets/images/doc1.png" class="w-12 h-12 rounded-full border-[.3rem] border-white" alt="">
                        </div>
                    </div>
                </div>
                <div class="w-6/12 pl-4"></div>
            </div>
    
            <div class="flex">
                <div class="w-6/12 h-auto"></div>
                <div class="w-6/12 text-left border-l-[1.3rem] border-green-500 pl-8 relative -left-5 h-auto">
                    <div class="flex items-center relative -left-[4.6rem]">
                        <div class="rounded-full shadow-lg border-[.4rem] border-green-500">
                            <img src="/assets/images/doc1.png" class="w-12 h-12 rounded-full border-[.3rem] border-white" alt="">
                        </div>
                        <div class="mx-4 px-2 py-4 border-b">
                            <h3 class="font-bold text-lg">How To Create A New Blog Post</h3>
                            <p class="text-gray-500">By Sheron | Blogs, WordPress | 0 Comments</p>
                            <p class="mt-2 text-gray-700">In today's tutorial, I will show you how to create a New Blog Post...</p>
                            <!-- <button class="mt-4 bg-green-500 text-white px-4 py-2 rounded">Read More</button> -->
                        </div>
                    </div>
                </div>
            </div>
    
            
        </div>
    </div>

    <div class="md:hidden px-4">
        <div class="h-auto">
            <div class="flex items-center">
                <div class="w-10 h-10 rounded-full shadow-lg border-[.4rem] border-green-500">
                    <img src="/assets/images/doc1.png" class="w-10 h-10 rounded-full border-[.2rem] border-white" alt="">
                </div>
                <div class="">
                    <h3 class="font-bold text-lg">How To Create A New Blog Post</h3>
                    <p class="text-gray-500">By Sheron | Blogs, WordPress | 0 Comments</p>
                    <p class="mt-2 text-gray-700">In today's tutorial, I will show you how to create a New Blog Post...</p>
                    <!-- <button class="mt-4 bg-green-500 text-white px-4 py-2 rounded">Read More</button> -->
                </div>
            </div>
        </div>
    </div>
    
}
