
    <div class="flex items-center gap-6 rounded-md shadow-md w-fit bg-white p-4">
      <div class="w-24">
        <img src="/assets/images/doctor1.jpg" alt="" class="rounded-full shadow-md w-24 h-24 object-cover object-center" srcset="">
      </div>
      <div class="flex flex-col gap-1 [&_i]:border [&_i]:p-1 [&_i]:rounded-full [&_i]:w-6 [&_i]:h-6
      [&_i]:text-center [&_i]:text-violet-700 [&_i]:shadow-sm [&_i]:hover:bg-violet-700 [&_i]:hover:text-white [&_i]:hover:rotate-180 [&_i]:transition">
        <p class="text-sm font-bold">Peter de Cock</p>
        <div class="flex items-center gap-3">
            <i class="fas fa-phone text-xs font-bold"></i>
            <p class="text-xs"> 00 000 0001 </p>
        </div>
        <div class="flex items-center gap-3">
            <i class="far fa-envelope text-xs"></i>
            <p class="text-xs">peterde&#64;gmail.com</p>
        </div>
        <div class="flex items-center gap-3">
            <i class="fas fa-location-arrow text-xs"></i>
            <p class="text-xs">436, pragati flat, varchara road</p>
        </div>
      </div>
    </div>


