<div class="bg-white shadow-lg rounded-2xl">
    <div class="flex flex-col gap-8 divide-y">
        <div class="relative flex flex-col items-center">
            <div class="flex flex-col w-full h-56">
                <img src="/assets/images/cover_photo.jpg" class="object-cover object-center h-[80%] rounded-tl-2xl rounded-tr-2xl" alt="" srcset="">
            </div>
            <div class="w-28 h-28 bg-white rounded-full absolute left-10 top-32">
                <img src="/assets/images/doctor1.jpg" class="object-cover object-center rounded-full w-28 h-28 border-4 border-spacing-2 border-white" alt="" srcset="">
            </div>
            <div class="absolute right-12 top-48 flex flex-col">
                <h4 class="text-base font-bold">Peter Kenrick</h4>
                <span class="text-xs opacity-80">UI/UX Designer</span>
            </div>
        </div>
        <div class="flex flex-col gap-2 px-10 pt-5">
            <div class="flex items-center justify-between gap-4">
                <span class="text-sm font-bold">Email:</span>
                <p class="text-sm">peterkenrich&#64;gmail.com</p>
            </div>
            <div class="flex items-center justify-between gap-4">
                <span class="text-sm font-bold">Mobile:</span>
                <p class="text-sm">009977886611</p>
            </div>
            <div class="flex items-center justify-between gap-4">
                <span class="text-sm font-bold">Location:</span>
                <p class="text-sm">456, pragoti flat, varchara road</p>
            </div>
        </div>
        <div class="flex items-center justify-between px-10 py-5 [&_i]:w-10 [&_i]:h-10 [&_i]:border [&_i]:rounded-full
        [&_i]:shadow [&_i]:pt-2 [&_i]:text-xl [&_i]:text-center">
            <a href="">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a href="">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </div>
    </div>
    
</div>
